html:root {
    --el-menu-base-level-padding: 10px;
    --el-color-primary: rgb(var(--color-green));
    // el-menu
    --el-menu-active-color: var(--el-color-primary);
    --el-menu-text-color: rgb(var(--color-main));
    --el-menu-hover-text-color: var(--el-color-primary);
    --el-menu-bg-color: var(--transparent05);
    --el-menu-hover-bg-color: var(--transparent10);
    --el-menu-item-font-size: var(--el-font-size-base);
    --el-menu-item-hover-fill: var(--el-color-primary-light-9);
    --el-menu-border-color: var(--transparent10);

    --el-bg-color-overlay: var(--transparent10);
    --el-border-color: var(--transparent10);
    --el-border-color-light: var(--transparent10);

    --el-switch-off-color: var(--el-menu-bg-color);

    --el-fill-color-blank: var(--transparent05);
    --el-text-color-regular: rgb(var(--color-text-muted));
    --el-bg-color-overlay: rgb(var(--color-bg-base));
    --el-fill-color-light: var(--transparent10);

    --el-input-border-color: var(--transparent10);
    --el-input-border-color-hover: var(--transparent20);

    --el-color-primary-light-3: rgb(0, 207, 114);
    --el-color-primary-light-5: rgb(28, 207, 126);
    --el-color-primary-light-7: rgb(65, 204, 142);
    --el-color-primary-light-8: rgb(110, 202, 161);
    --el-color-primary-light-9: rgb(164, 206, 187);

    --el-border-color-extra-light: var(--transparent05);
}

body {
    .el-input {
        --el-input-border-color: var(--transparent10);
        --el-input-border-color-hover: var(--transparent20);
        --el-input-text-color:rgb(var(--color-text-main));
        
    }
    .el-input-number .el-input__inner{
        text-align: left;
    }
    .el-switch {
        --el-switch-on-color: var(--el-color-primary);
        --el-switch-off-color: var(--transparent10);
    }

    .el-switch.is-checked .el-switch__core .el-switch__action {
        background-color: var(--el-color-white);
    }

    .el-switch__core .el-switch__action {
        background-color: var(--transparent50);
    }

    .el-select {
        .el-select__wrapper {
            box-shadow: none;
        }
        .el-select__wrapper:hover {
            box-shadow: 0 0 0 1px var(--transparent10) inset
        }

        .el-select__wrapper.is-hovering:not(.is-focused) {
            box-shadow: 0 0 0 1px var(--transparent10) inset
        }
    }

    .el-drawer__header{
        margin-bottom: 0;
    }

    .el-drawer__body{
        padding: 0;
    }

    .el-skeleton {
        --el-skeleton-color: var(--transparent05);
        --el-skeleton-to-color: var(--transparent10);
    }

    .el-result {
        height: 100%;
        .icon-error{
            --el-result-color: var(--transparent10);
        }
        .el-result__title{
            p{
                font-size: 14px;
                color: rgb(var(--color-text-grey));
            }
        }
        .el-result__subtitle{
            p{
                font-size: 12px;
                color: rgb(var(--color-text-grey));
            }
        }
        .el-result__extra{
            button{
                background-color: var(--transparent05);
                border: 1px solid var(--transparent05);
                color: rgb(var(--color-text-grey));
                &:hover{
                    color: rgb(var(--color-text-muted));
                    border: 1px solid var(--transparent10);
                }
            }
        }
    }
    .el-slider {
        --el-slider-main-bg-color: var(--el-color-primary);
        --el-slider-runway-bg-color: var(--el-border-color-light);
        --el-slider-stop-bg-color: var(--transparent10);
        --el-slider-disabled-color: var(--el-text-color-placeholder);
        --el-slider-border-radius: 3px;
        --el-slider-height: 6px;
        --el-slider-button-size: 20px;
        --el-slider-button-wrapper-size: 36px;
        --el-slider-button-wrapper-offset: -15px;
        --el-slider-button-size:12px;
        padding: 0 3px;
        .el-slider__button{
            background: var(--el-slider-main-bg-color);
        }
        .el-slider__stop{
            &:first-child{
                transform: none;
            }
            &:last-child{
                transform: translateX(-100%);
            }
        }
        .el-slider__marks{
            .el-slider__marks-text{
                font-size: 10px;
                margin-top: 10px;
                &:first-child{
                    transform: translateX(-3px);
                }
                &:last-child{
                    transform: translateX(-88%);
                }
            }
        }
    }
    
}