
html:root {
    --el-menu-base-level-padding:10px;
}
html.dark{
    // el-menu
    --el-menu-active-color: var(--el-color-primary);
    --el-menu-text-color: #fff;
    --el-menu-hover-text-color: var(--el-color-primary);
    --el-menu-bg-color:var(--transparent05);
    --el-menu-hover-bg-color: var(--transparent10);
    --el-menu-item-font-size: var(--el-font-size-base);
    --el-menu-item-hover-fill: var(--el-color-primary-light-9);
    --el-menu-border-color: var(--transparent10);
    
    --el-bg-color-overlay:var(--transparent10);
    --el-border-color-light:var(--transparent10);

    --el-switch-off-color:var(--el-menu-bg-color);
}

body 
{
    .el-switch {
        --el-switch-on-color: var(--el-color-primary);
        --el-switch-off-color: var(--transparent10);
    }
    .el-switch.is-checked .el-switch__core .el-switch__action{
        background-color: var(--el-color-white);
    }
    .el-switch__core .el-switch__action{
        background-color: var(--transparent50);
    }
}