.bt-default {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--transparent05);
	border: 1px solid var(--transparent02);
	color: var(--color-text-main);
	padding: 4px 12px;
	border-radius: var(--el-border-radius-base);
	font-size: 12px;
	&:hover {
		background-color: var(--transparent10);
		border: 1px solid var(--transparent20);
		color: var(--color-text-main);
	}
}

.bt-green,
.bt-primary {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(var(--color-green));
	border: 1px solid rgb(var(--color-green));
	color: white;
	padding: 4px 12px;
	border-radius: var(--el-border-radius-base);
	font-size: 12px;
	&:hover {
		background-color: rgb(var(--color-green) / 0.9);
	}
}

.bt-red {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(var(--color-red));
	border: 1px solid rgb(var(--color-red));
	color: white;
	padding: 4px 12px;
	border-radius: var(--el-border-radius-base);
	font-size: 12px;
	&:hover {
		background-color: rgb(var(--color-red) / 0.9);
	}
}
.bt-brand {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(var(--color-brand));
	border: 1px solid rgb(var(--color-brand));
	color: white;
	padding: 4px 12px;
	border-radius: var(--el-border-radius-base);
	font-size: 12px;
	&:hover {
		background-color: rgb(var(--color-brand) / 0.9);
	}
}

.glass {
	position: relative;
	&::before {
		// background-image: linear-gradient(90deg, #00dc82, #36e4da, #0047e1);
		background-image: var(--bg-linear-90);
		// filter: blur(60px);
		// border-radius: 999px;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: '';
		z-index: -1;
		opacity: 0.2;
		// transition: all 0.3s ease;
	}
}

.glass-1 {
	position: relative;
	&::before {
		// background-image: linear-gradient(90deg, #00dc82, #36e4da, #0047e1);
		background-image: var(--bg-linear-90);
		// filter: blur(60px);
		// border-radius: 999px;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: '';
		z-index: -1;
		opacity: 0.1;
		// transition: all 0.3s ease;
	}
}

.glass-180 {
	position: relative;
	&::before {
		// background-image: linear-gradient(90deg, #00dc82, #36e4da, #0047e1);
		background-image: var(--bg-linear-180);
		// filter: blur(60px);
		// border-radius: 999px;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: '';
		z-index: -1;
		opacity: 0.2;
		// transition: all 0.3s ease;
	}
}

.glass-180-1 {
	position: relative;
	&::before {
		// background-image: linear-gradient(90deg, #00dc82, #36e4da, #0047e1);
		background-image: var(--bg-linear-180);
		// filter: blur(60px);
		// border-radius: 999px;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: '';
		z-index: -1;
		opacity: 0.1;
		// transition: all 0.3s ease;
	}
}

.binance-card {
	position: relative;
	&::before {
		background-image: linear-gradient(130deg, #f3ba2f, #c5b842, #b9cb86);
		// filter: blur(60px);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: '';
		z-index: -1;
		opacity: 0.2;
	}
}

.coinbase-card {
	position: relative;
	&::before {
		background-image: linear-gradient(130deg, #0052ff, #674dcd, #ad82f3);
		// filter: blur(60px);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: '';
		z-index: -1;
		opacity: 0.2;
	}
}

.okx-card {
	position: relative;
	&::before {
		background-image: linear-gradient(130deg, rgb(0, 0, 0), #150946, #6049b5);
		// filter: blur(60px);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: '';
		z-index: -1;
		opacity: 0.2;
	}
}

.deepkline-card {
	position: relative;
	&::before {
		// background-image: linear-gradient(90deg, #00dc82, #36e4da, #0047e1);
		background-image: var(--bg-linear-90);
		// filter: blur(60px);
		// border-radius: 999px;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: '';
		z-index: -1;
		opacity: 0.2;
		// transition: all 0.3s ease;
	}
}

.binance-bt {
	background-color: #f3ba2f !important;
	color: white !important;
}
.okx-bt {
	background-image: linear-gradient(130deg, #000000, #06021a, #090228);
	color: white !important;
}
.coinbase-bt {
	background-color: #0052ff !important;
	color: white !important;
}

.deepkline-bt {
	background-color: rgb(var(--color-brand)) !important;
	color: white !important;
}

.logout-bt {
}

.global-form {
	.form-item {
		@apply flex flex-col;
		label {
			@apply py-2;
		}
		label {
			@apply text-grey;
		}
		.el-input {
			--el-color-primary: rgb(var(--color-brand));
			.el-input__wrapper {
				.el-input__inner {
					--el-input-inner-height: 46px;
					@apply text-lg;
					&::placeholder {
						@apply text-sm;
					}
				}
			}
		}
	}
}

.tag-real{
	@apply rounded-full bg-green/20 flex items-center leading-none text-green text-nowrap; 
	font-size: 10px;
	padding: 4px 5px;
	
}
.tag-demo{
	@apply rounded-full bg-invert flex items-center leading-none text-invert text-nowrap; 
	font-size: 10px;
	padding: 4px 5px;
	
}
.tag-default{
	@apply rounded-full flex items-center leading-none text-main text-nowrap; 
	font-size: 10px;
	padding: 4px 5px;
	background-color: var(--transparent10);
}
.tag-red{
	@apply rounded-full bg-red/20 flex items-center leading-none text-red text-nowrap; 
	font-size: 10px;
	padding: 4px 5px;
}

.tag-green{
	@apply rounded-full bg-green/20 flex items-center leading-none text-green text-nowrap; 
	font-size: 10px;
	padding: 4px 5px;
}

.tag-red-large{
	@apply rounded-full bg-red/60 flex items-center leading-none text-white text-nowrap; 
	font-size: 12px;
	padding: 5px 7px;
}

.tag-green-large{
	@apply rounded-full bg-green/60 flex items-center leading-none text-white text-nowrap; 
	font-size: 12px;
	padding: 5px 7px;
}


/* 隐藏滚动条 */
.scrollbar-hide {
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE 10+ */
}
.scrollbar-hide::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera */
}



@media (max-width: 9999) {
	.tcaptcha-transform {
		transform: scale(0.9);
	}
}
