@font-face {
	font-family: 'Roboto';
	src: url('/css/font/Roboto/Roboto-Regular.ttf') format('truetype');
	font-display: swap;
	font-smooth: antialiased;
	unicode-range: U+30-39, U+002E; /* 数字 0-9 和小数点 */
}
@font-face {
	font-family: 'Roboto-Bold';
	src: url('/css/font/Roboto/Roboto-Bold.ttf') format('truetype');
	font-display: swap;
	font-smooth: antialiased;
	// unicode-range: U+30-39, U+002E; /* 数字 0-9 和小数点 */
}

body {
	padding: 0;
	margin: 0;
	@apply bg-base text-main;
	// font-family: system-ui,Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, monospace;
	font-family: 'Roboto', 'PingFang SC', 'Segoe UI', sans-serif;
	font-variant-numeric: tabular-nums; /* 可选，使数字等宽对齐更整齐 */
}
.roboto-bold{
	font-family: Roboto-Bold;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html,
body {
	height: var(--body-height);
	width: var(--body-width);
	margin: 0;
	padding: 0;
	overflow: hidden;
	overscroll-behavior: contain;
}
#__nuxt {
	will-change: transform, opacity;
	height: var(--body-height);
	width: var(--body-width);
	margin: 0;
	padding: 0;
	overflow: hidden;
	transition: all 0.3s cubic-bezier(0.09, 0.83, 0.79, 0.99);
}
.wrapper {
	container-type: inline-size;
}

@media (max-width:800px) {
	body {
		user-select: none; /* 禁止选中文本 */
		-webkit-user-select: none; /* Safari/Chrome */
		-ms-user-select: none; /* IE10+ */
		-moz-user-select: none; /* Firefox */
		-webkit-touch-callout: none; /* iOS 长按弹出菜单 */
	}
}
