
[data-theme="white"]{
    --transparent00:rgba(0,0,0,0.0);
    --transparent01:rgba(193,193,193,0.01);
    --transparent02:rgba(0,0,0,0.02);
    --transparent03:rgba(0,0,0,0.03);
    --transparent05:rgba(0,0,0,0.05);
    --transparent07:rgba(0,0,0,0.07);
    --transparent09:rgba(0,0,0,0.09);
    --transparent10:rgba(0,0,0,0.1);
    --transparent20:rgba(0,0,0,0.2);
    --transparent30:rgba(0,0,0,0.3);
    --transparent40:rgba(0,0,0,0.4);
    --transparent50:rgba(0,0,0,0.5);
    --transparent70:rgba(0,0,0,0.7);
    --transparent90:rgba(0,0,0,0.9);
    --bg-color:#ffffff
  }
  
  [data-theme="dark"]{
    --transparent00:rgba(255,255,255,0.0);
    --transparent01:rgba(255,255,255,0.01);
    --transparent02:rgba(255,255,255,0.02);
    --transparent03:rgba(255,255,255,0.03);
    --transparent05:rgba(255,255,255,0.05);
    --transparent07:rgba(255,255,255,0.07);
    --transparent09:rgba(255,255,255,0.09);
    --transparent10:rgba(255,255,255,0.1);
    --transparent20:rgba(255,255,255,0.2);
    --transparent30:rgba(255,255,255,0.3);
    --transparent40:rgba(255,255,255,0.4);
    --transparent50:rgba(255,255,255,0.5);
    --transparent70:rgba(255,255,255,0.7);
    --transparent90:rgba(255,255,255,0.9);
    --bg-color:#000000
  }
  [data-theme="navy"]{
    --transparent00:rgba(255,255,255,0.0);
    --transparent01:rgba(255,255,255,0.01);
    --transparent02:rgba(255,255,255,0.02);
    --transparent03:rgba(255,255,255,0.03);
    --transparent05:rgba(255,255,255,0.05);
    --transparent07:rgba(255,255,255,0.07);
    --transparent09:rgba(255,255,255,0.09);
    --transparent10:rgba(255,255,255,0.1);
    --transparent20:rgba(255,255,255,0.2);
    --transparent30:rgba(255,255,255,0.3);
    --transparent40:rgba(255,255,255,0.4);
    --transparent50:rgba(255,255,255,0.5);
    --transparent70:rgba(255,255,255,0.7);
    --transparent90:rgba(255,255,255,0.9);
    --bg-color:#000000

  }
  